<!DOCTYPE html>
<html lang="en">
<body>
<head>
  <meta charset="UTF-8">
  <title>Stock Prediction</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/CSS/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
</head>
<body>  

  <div class="div-1">
   
    <div class="row">
        <div class="col-md-1">

           
    </div>
    <div class="col-md-9">
    </div>

    <div class="col-md-2">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Plots
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/index1">Open Close </a>
                        <a class="dropdown-item" href="/index2">Volume</a>
                        <a class="dropdown-item" href="/index3">Hight Price</a>
                        <a class="dropdown-item" href="/index4">Low Price</a>
                        
                    </div>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/list_all_data">Data<span class="sr-only"></span></a>
                    </li>
                  </ul>
                </div>
                </nav>        
    </div>
  </div>




    <div class="container">
      <div class="row">
        <div class="col-md-7">
      
          <h2>&nbsp;Summary: Stock Forecast&nbsp;
        </div>
        <div class="col-md-5">
          <h2>&nbsp;Visualization&nbsp;

            
        </div>
         
      </div>

   
        <div class="row">
          


          <div class="col-md-4">
            <p>The Purpose of thgis project is to understand analyzing stocks using Python Code. We took historical stocks prices. 
              This will be done by extracting latest stocks data and using Time series forecast. Facebook open source is used for this forecast.</p>
            <p>Factors we looked at include: Date, Open, Close, High and Low prices . This site provides the visualizations created as part of the analysis which are deployed via Flask and Python.</p>

            <div class="col-md-8">
              <li>
               <!--div class="panel-heading">Filter Search</div-->  
            <div class="panel-body">
              <!--form id="form">
               
                <div class="form-group">
                  <ul class="list-group" id="filters">
                    <li class="filter list-group-item">
                      <label for="ticker">Enter a Stock Code</label>
                        <input class="form-control" id="ticker" type="text" placeholder="AC">
                    </li>
                  </ul>
                </div>
                <button id="filter-btn" type="button" class="btn btn-default">Filter</button>
              </form-->

              <form method="POST">
                stock:<br>
                <input type="text" name="tag"><br>
                <input type="submit" value="Submit">
              </form>
              </li>      
            </div>        
          </div>

          
          <div class="col-md-4">
        
            <li>
              
              <img src="../DataOutput/AC_Open_Close.png" width="350" height="350" alt="Director Statistics" title= "Open Close">
               
            </li> 
            <li>
              
              <img src="../DataOutput/AC_Volume.png" width="350" height="350" alt="Annual Production" title= "Volume">
            
            </li>
          </div>
            <div class="col-md-4">

              <li>
                
                <img src="../DataOutput/AC_HighPrice.png" width="350" height="350" alt="Country Statistics" title="High Price">
                
              </li> 
              <li>
                
                <img src="../DataOutput/AC_LowPrice.png" width="350" height="350" alt="Title Statistics" title="Low Price">
                 
              </li> 
            </div>
            
          </div>
 
          


    </div>
    </div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</div>
</body>

</html>